@*<nav class="navbar navbar-expand-lg navbar-dark bg-primary">*@
<nav class="navbar navbar-dark fixed-top bg-primary shadow navbar-expand-lg ">
    <div class="container body-content ">
        <a class="navbar-brand" href="@Url.Action("Listar", "Cliente")">
            @*<img src="~/Images/logo.png" style="width: 140px; margin-bottom: 2px;" />*@
            <h5><b>CLINISYS</b></h5>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item @( ViewBag.LinkBaseController == "Cliente" ? "active link-ativo" : "" )">
                    <a href="@Url.Action("Listar", "Cliente")" class="nav-link">
                        <i class="fas fa-user-tie"></i>
                        Clientes
                    </a>
                </li>

                <li class="nav-item @( ViewBag.LinkBaseController == "Massagem" ? "active link-ativo" : "" )">
                    <a href="@Url.Action("Listar", "Massagem")" class="nav-link">
                        <i class="far fa-calendar-alt"></i>
                        Massagens
                    </a>
                </li>

                <li class="nav-item @( ViewBag.LinkBaseController == "Clinica" ? "active link-ativo" : "" )">
                    <a href="@Url.Action("Info", "Conta")" class="nav-link">
                        <i class="fas fa-info-circle"></i>
                        Sobre a Clínica
                    </a>
                </li>

            </ul>
            <span class="navbar-text">
                <b>Usuário:</b> Administrador &nbsp;
                <a href="@Url.Action("Index", "Home", new { Area = false })" class="btn-danger btn-sm">
                    <i class="fas fa-sign-out-alt"></i>
                    Sair
                </a>
            </span>
        </div>
    </div>
</nav>

@if (@ViewBag.Title != null)
{
    <div class="shadow mb-4 bg-white rounded breadcrumb-box">
        <div class="container body-content">
            <ol class="breadcrumb">
                <li><i class="far fa-file-alt"></i> &nbsp;</li>
                <li class="breadcrumb-item"><a href="/Clinica/@ViewBag.LinkBaseController/@ViewBag.LinkBaseActionLabel/@ViewBag.LinkBaseId">@ViewBag.LinkBaseControllerLabel</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
}
else
{
    <div>&nbsp;</div>
}
